.task-main{
    margin-left: 320px;
}


@media (max-width:768px){
    .task-main{
        margin-left: 85px;
    }
    
}
@media(max-width:530px){
    .task-main{
        position: relative;
        top: 75px;
        margin-left: 20px;
    }
}